<div class='flud-container text-center'>
    <h2 class='splashTitle p-5'> 👋Hello👋 <br>Welcome to Budget App</h2>
        <div class="row splashContent">
            <div class= "col-12 p-5">
                <%= link_to 'Login', 'users/sign_in', class: ''%>
            </div>

            <div class= "col-12 p-5">
                <%= link_to 'Sign up', 'users/sign_up', class: ''%>
            </div>
        </div>
</div>